<?xml version="1.0"?>

<configuration>

	<connectionStrings>
		<clear />
		<add name="SmartWorkingEntities" connectionString="metadata=res://*/DBbModel.csdl|res://*/DBbModel.ssdl|res://*/DBbModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MX-AN\SQLExpress;initial catalog=SmartWorking;persist security info=True;user id=smartworker;password=Belchatow12;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>

	<system.web>
		<compilation debug="true" targetFramework="4.0" />
 
    <customErrors mode="Off"/>
  </system.web>
	<system.serviceModel>
    <!-- bindings -->
    <bindings>
      <basicHttpBinding>
        <binding name ="soapBinding">
          <security mode="None">
          </security>
        </binding>
      </basicHttpBinding>
      <webHttpBinding>
        <binding name="webBinding">
        </binding>
      </webHttpBinding>
    </bindings>
		<behaviors>
      <endpointBehaviors>
        <behavior name="jsonBehavior">
          <!--<enableWebScript/>-->
          <webHttp/>
        </behavior>        
      </endpointBehaviors>
			<serviceBehaviors>
				<behavior name="serviceBehavior">
					<!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
					<serviceMetadata httpGetEnabled="true" />
					<!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
					<serviceDebug includeExceptionDetailInFaults="true" />
          <!--<dataContractSerializer maxItemsInObjectGraph="2147483647"/>-->
				</behavior>
			</serviceBehaviors>
		</behaviors>
    <services>
      <service name="SmartWorking.Office.Services.Hosting.Local.CarsService" behaviorConfiguration="serviceBehavior">
        <endpoint address="" bindingConfiguration="soapBinding" binding="basicHttpBinding" contract="SmartWorking.Office.Services.Interfaces.ICarsService"/>
        <endpoint address="json" binding="webHttpBinding"  behaviorConfiguration="jsonBehavior" contract="SmartWorking.Office.Services.Interfaces.ICarsService"/>
      </service>
      <service name="SmartWorking.Office.Services.Hosting.Local.ContractorsService" behaviorConfiguration="serviceBehavior">
        <endpoint address=""  binding="basicHttpBinding" contract="SmartWorking.Office.Services.Interfaces.IContractorsService"/>
        <endpoint address="json" binding="webHttpBinding"  behaviorConfiguration="jsonBehavior" contract="SmartWorking.Office.Services.Interfaces.IContractorsService"/>
      </service>      
      <service name="SmartWorking.Office.Services.Hosting.Local.DeliveryNotesService">
        <endpoint address="" binding="basicHttpBinding" contract="SmartWorking.Office.Services.Interfaces.IDeliveryNotesService"/>
        <endpoint address="json" binding="webHttpBinding"  behaviorConfiguration="jsonBehavior" contract="SmartWorking.Office.Services.Interfaces.IDeliveryNotesService"/>
      </service>
      <service name="SmartWorking.Office.Services.Hosting.Local.DriversService">
        <endpoint address="" binding="basicHttpBinding" contract="SmartWorking.Office.Services.Interfaces.IDriversService"/>
        <endpoint address="json" binding="webHttpBinding"  behaviorConfiguration="jsonBehavior" contract="SmartWorking.Office.Services.Interfaces.IDriversService"/>
      </service>
      <service name="SmartWorking.Office.Services.Hosting.Local.MaterialsService" behaviorConfiguration="serviceBehavior">
        <endpoint address="" binding="basicHttpBinding" contract="SmartWorking.Office.Services.Interfaces.IMaterialsService"/>
        <endpoint address="json" binding="webHttpBinding"  behaviorConfiguration="jsonBehavior" contract="SmartWorking.Office.Services.Interfaces.IMaterialsService"/>
      </service>
      <service name="SmartWorking.Office.Services.Hosting.Local.RecipesService">
        <endpoint address="" binding="basicHttpBinding" contract="SmartWorking.Office.Services.Interfaces.IRecipesService"/>
        <endpoint address="json" binding="webHttpBinding"  behaviorConfiguration="jsonBehavior" contract="SmartWorking.Office.Services.Interfaces.IRecipesService"/>
      </service>
    </services>
		<serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
	</system.serviceModel>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true" />
	</system.webServer>
  <system.diagnostics>
    <trace autoflush="true" />
    <sources>
      <source name="System.ServiceModel"
              switchValue="Information, ActivityTracing"
              propagateActivity="true">
        <listeners>
          <add name="sdt"
              type="System.Diagnostics.XmlWriterTraceListener"
              initializeData= "Tracing.e2e" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
</configuration>