<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <connectionStrings>
    <add name="SmartWorkingEntities" connectionString="metadata=res://*/DBbModel.csdl|res://*/DBbModel.ssdl|res://*/DBbModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MX-AN\SQLExpress;initial catalog=SmartWorking;persist security info=True;user id=smartworker;password=Belchatow12;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    
    <!--smartworking.somee.com server-->
    <clear />
    <add name="SmartWorkingEntities" connectionString="metadata=res://*/DBbModel.csdl|res://*/DBbModel.ssdl|res://*/DBbModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Smartworking.mssql.somee.com;initial catalog=SmartWorking;persist security info=True;user id=smartworker;password=Belchatow12;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <!--IIS Service factory on smartworking.somee.com server-->
  <system.serviceModel>
    <client>
      <endpoint address="http://smartworking.somee.com/ContractorsService.svc"
                       binding="basicHttpBinding"
                       contract="SmartWorking.Office.Services.Interfaces.IContractorsService" />
      <endpoint address="http://smartworking.somee.com/MaterialsService.svc"
                       binding="basicHttpBinding"
                       contract="SmartWorking.Office.Services.Interfaces.IMaterialsService" />
      <endpoint address="http://smartworking.somee.com/RecipesService.svc"
                        binding="basicHttpBinding"
                        contract="SmartWorking.Office.Services.Interfaces.IRecipesService" />
    </client>      
  </system.serviceModel>

</configuration>