<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">


  <system.serviceModel xdt:Transform="Replace">
    <client>
      <endpoint address="http://localhost:60322/ContractorsService.svc" binding="basicHttpBinding" contract="SmartWorking.Office.Services.Interfaces.IContractorsService" />
      <endpoint address="http://localhost:60322/MaterialsService.svc" binding="basicHttpBinding" contract="SmartWorking.Office.Services.Interfaces.IMaterialsService" />
      <endpoint address="http://localhost:60322/RecipesService.svc" binding="basicHttpBinding" contract="SmartWorking.Office.Services.Interfaces.IRecipesService" />
      <endpoint address="http://localhost:60322/DriversService.svc" binding="basicHttpBinding" contract="SmartWorking.Office.Services.Interfaces.IDriversService" />
      <endpoint address="http://localhost:60322/CarsService.svc" binding="basicHttpBinding" contract="SmartWorking.Office.Services.Interfaces.ICarsService" />
      <endpoint address="http://localhost:60322/DeliveryNotesService.svc" binding="basicHttpBinding" contract="SmartWorking.Office.Services.Interfaces.IDeliveryNotesService" />
    </client>
  </system.serviceModel>
</configuration>