<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings xdt:Transform="Remove" />

  <system.serviceModel xdt:Transform="Replace">
    <client>
      <endpoint address="http://smartworking.somee.com/OrdersService.svc" binding="basicHttpBinding" contract="SmartWorking.Office.Services.Interfaces.IOrdersService" />
      <endpoint address="http://smartworking.somee.com/ClientsService.svc" binding="basicHttpBinding" contract="SmartWorking.Office.Services.Interfaces.IClientsService" />
      <endpoint address="http://smartworking.somee.com/BuildingsService.svc" binding="basicHttpBinding" contract="SmartWorking.Office.Services.Interfaces.IBuildingsService" />
      <endpoint address="http://smartworking.somee.com/ContractorsService.svc" binding="basicHttpBinding" contract="SmartWorking.Office.Services.Interfaces.IContractorsService" />
      <endpoint address="http://smartworking.somee.com/MaterialsService.svc" binding="basicHttpBinding" contract="SmartWorking.Office.Services.Interfaces.IMaterialsService" />
      <endpoint address="http://smartworking.somee.com/RecipesService.svc" binding="basicHttpBinding" contract="SmartWorking.Office.Services.Interfaces.IRecipesService" />
      <endpoint address="http://smartworking.somee.com/DriversService.svc" binding="basicHttpBinding" contract="SmartWorking.Office.Services.Interfaces.IDriversService" />
      <endpoint address="http://smartworking.somee.com/CarsService.svc" binding="basicHttpBinding" contract="SmartWorking.Office.Services.Interfaces.ICarsService" />
      <endpoint address="http://smartworking.somee.com/DeliveryNotesService.svc" binding="basicHttpBinding" contract="SmartWorking.Office.Services.Interfaces.IDeliveryNotesService" />
      <endpoint address="http://smartworking.somee.com/ReportsService.svc" binding="basicHttpBinding" contract="SmartWorking.Office.Services.Interfaces.IReportsService" />
    </client>
  </system.serviceModel>
</configuration>